<div *ngIf="this.PageSortie">
<app-resultat [ListeObjet]="ListeObjet" [ListeBoite]="ListeBoite"></app-resultat>

</div>
<p *ngIf="ListeObjet.length !== 0">{{ListeObjet[0].Poids}}</p>

<button (click)="ChangementDePage()" class="left-button text-right">{{StringPage}}<i class="fa fa-arrow-right"></i></button>

<div class="page" *ngIf="this.PageEntree">
<div class="container-toggle">

<input id="toggle-on" class="toggle toggle-left" name="toggle" value="false" type="radio" (click)="ChangeMenu(true)" checked>
<label for="toggle-on" class="btn">Entrée Manuelle</label>
<input id="toggle-off" class="toggle toggle-right" name="toggle" value="true" type="radio" (click)="ChangeMenu(false)">
<label for="toggle-off" class="btn">Entrée Automa. </label>
</div>

<div class="container">

  <div class="row" *ngIf="ModeManuelle">
      
      <div class="section col-5">
          <div class="titre">
            <h2>Ajout Objet</h2>
        </div>
      <span>
        <input  [(ngModel)]="poidsTempo" type="number" class="balloon" id="galaxy" type="text" placeholder="Poids" /><label for="Valeur max">Poids objet</label>
      </span>
      <span>
        <input  [(ngModel)]="couleurTempo" type="number" class="balloon" id="galaxy" type="text" placeholder="Couleur" /><label for="Valeur max">Couleur objet</label>
      </span>
  
      <button (click)="Add()" class="btn btn-success">Ajouter</button>
    </div>
  
    <div class="section col-5">
        <div class="titre">
          <h2>Ajout Sacs</h2>
        </div>
      <span>
        <input  [(ngModel)]="capaciteTempo" type="number" class="balloon" id="galaxy" type="text" placeholder="Capacite" /><label for="Valeur max">Capacité du sac</label>
      </span>
  
      <button (click)="AddSac()" class="btn btn-success">Ajouter</button>
    </div>

  </div>

  <div class="row" *ngIf="!ModeManuelle">
    <div class="section col-11">
        <div class="titre">
        <h2>Choix Fichier</h2>
        </div>

        <div style="margin:0px;">
            <td-file-upload #singleFileUpload [(ngModel)]="files" (select)="selectEvent($event)"  required>
                <span>{{ singleFileUpload.value?.name }}</span>
                <ng-template td-file-input-label>
        
                  <span>
                    Choisir un fichier
                    <span [hidden]="!singleFileUpload?.required">*</span></span>
                </ng-template>
              </td-file-upload>
        </div>
        
  
    </div>
  </div>

  <div class="row">

    <div class="section col-5">
      <div class="titre">
          <H2> Tableau des Objets</H2>
      </div>
        <div class="table-responsive table-striped">
          <table class="table">
            <thead>
              <th>Numéro d'objet</th>
              <th>Poids de l'objet </th>
              <th>Valeur de l'objet </th>
            </thead>
            <tbody>
              
              <tr *ngFor="let item of ListeObjet">
                <td>{{item.IdObjet}}</td>
                <td>{{item.Poids}}</td>
                <td>{{item.Couleur}}</td>
                <td><button class="btn-danger" (click)="Delete(item.IdObjet)">Delete</button></td>
              </tr>
            </tbody>
          </table>
        
    </div>
        </div>
      <div class="section col-5">
          <div class="titre">
              <H2> Tableau des sacs</H2>
          </div>
            <div class="table-responsive table-striped">
              <table class="table">
                <thead>
                  <th>Numéro d'objet</th>
                  <th>Capacité du sac </th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of ListeBoite">
                    <td>{{item.IdBoite}}</td>
                    <td>{{item.Capacite}}</td>
                    <td><button class="btn-danger" (click)="DeleteSac(item.IdBoite)">Delete</button></td>
                  </tr>
                </tbody>
              </table>
            
          </div>

      
    </div>

</div>

</div>



